@import url("http://fonts.googleapis.com/css?family=Oswald:400,300,700");


html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

header {
    font-family:'Times New Roman', Times, serif !important;
}

ul.nav {
    font-family: 'Times New Roman', Times, serif !important;
}

div.logincontainer {
    width: 750px;
    height: 450px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    display: inline-block;
    text-align: center !important;
}

div.login {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    text-align: left;
}

div.loginform {
    width: 300px;
    height: 400px;
    text-align: center;
}

div.login-Hopelogo {
    width: 300px;
    height: 100px;
}

div.login-user-label {
    width: 200px;
    height: 35px;
    border: groove 1px;
    display: inline-block;
    text-align: center !important;
}

div.loginimg {
    width: 390px;
    height: 400px;
}

img.Logo {
    width: 60px;
    height: 65px;
    margin-left: 25px;
    margin-right: 5px;
}

img.Hopelogo {
    width: 100px;
    height: 105px;
    float: left;
    margin-left: 100px;
    margin-top: 10px;
    margin-right: 100px;
    position: relative;
}

img.loginimg-image {
    width: 459px;
    height: 450px;
    object-fit: fill;
    position: relative;
}

h1.login-school {
    text-align: center;
    font-size: 20px;
    margin-right: 50px;
    margin-left: 50px;
}

h1.login-user-level {
    margin-top: 5px;
    font-size: 20px;
}

#username {
    margin-top: 10px;
    margin-bottom: 10px;
}

#password {
    margin-bottom: 10px;
}

div.user-dropdown {
    margin-right: 10px;
}

div.admin-container {
    width: 100%;
    height: 100%;
}

div.admin-sidebar {
    background: white;
    display: block;
    height: 100%;
    width: 18%;
    overflow: auto;
    font-size: x-large;
    text-align: justify;
    float: left;
}

li.admin-nav-item {
    padding-top: 5px;
    padding-bottom: 5px;
}

div.admin-content {
    display: block;
    height: 100%;
    width: 82%;
    float: left;
}

img.admin-home-image {
    width: 100%;
    height: 540px;
}

div.admin-dashboard-welcome {
    text-align: center;
    margin-left: 60px;
    margin-top: 20px;
    width: 1000px; 
    height: 50px; 
    background: white; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

h3.admin-dashboard-welcome {
    padding: 5px;
}