@{
    ViewData["Title"] = "Admin Dashboard";
    Layout = "AdminLayout";
}
<div class="admin-home-container">
    <div class="admin-content">
        <div class="admin-main-content">
            <div class="admin-dashboard-welcome">
                <h3 class="admin-dashboard-welcome">Welcome to the dashboard, Admin!</h3>
            </div>
        </div>
    </div>
</div>