@{
    ViewData["Title"] = "Admin Home";
    Layout = "AdminLayout";
}
<div class="admin-home-container">
    <div class="admin-content">
        <div class="admin-main-content">
            <img class="admin-home-image" src=@Url.Content("~/imgs/Admin-Placeholder.png") />
        </div>
    </div>
</div>