@{
    ViewData["Title"] = "Hope Integrated School";
}

<div class="text-center">
    <div class="logincontainer">
        <div class="login">
            <div class="loginform">
                <div class="login-Hopelogo">
                    <img class="Hopelogo" src=@Url.Content("~/imgs/HIS-Logo.png") />
                </div>
                    <h1 class="login-school">HOPE INTEGRATED SCHOOL</h1>
                <div class="login-user-label">
                    <h1 class="login-user-level">Teacher Login</h1>
                </div>
                <form class="login-input">
                    <input type="text" id="username" name="username" placeholder="Username" />
                    <input type="password" id="password" name="password" placeholder="Password" />
                    <br />
                    <button type="button" class="btn btn-outline-primary">Login</button>
                </form>
            </div>
            <div class="loginimg">
                <img class="loginimg-image" src=@Url.Content("~/imgs/Placeholder-Login.png") />
            </div>
        </div>
    </div>
</div>
