<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Group1._3_GradingSystem_Prototype.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-0">
            <img class="Logo" src=@Url.Content("~/imgs/HIS-Logo.png") />
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">HOPE INTEGRATED SCHOOL</a>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="user-dropdown navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item dropdown ms-auto">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Admin</a>
                        <ul class="dropdown-menu dropdown-menu-end navbar-right" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index">Logout</a></li>
                        </ul>
                </ul>
            </div>
        </nav>
    </header>
    <div class="admin-sidebar">
        <ul class="admin-sidebar-items nav nav-pills flex-column mb-auto">
            <li class="admin-nav-item">
                <a asp-area="" asp-controller="Admin" asp-action="AdminHomePage" class="nav-link link-dark" aria-current="page">
                    <svg class="bi me-2" width="16" height="16"></svg>
                    Home
                </a>
            </li>
            <li class="admin-nav-item">
                <a asp-area="" asp-controller="Admin" asp-action="AdminDashboard" class="nav-link link-dark" aria-current="page">
                    <svg class="bi me-2" width="16" height="16"></svg>
                    Dashboard
                </a>
            </li>
            <li class="admin-nav-item">
                <a href="#" class="nav-link link-dark">
                    <svg class="bi me-2" width="16" height="16"></svg>
                    Subjects
                </a>
            </li>
            <li class="admin-nav-item">
                <a href="#" class="nav-link link-dark">
                    <svg class="bi me-2" width="16" height="16"></svg>
                    Faculty
                </a>
            </li>
            <li class="admin-nav-item">
                <a href="#" class="nav-link link-dark">
                    <svg class="bi me-2" width="16" height="16"></svg>
                    Students
                </a>
            </li>
            <li class="admin-nav-item">
                <a href="#" class="nav-link link-dark">
                    <svg class="bi me-2" width="16" height="16"></svg>
                    Sections
                </a>
            </li>
            <li class="admin-nav-item">
                <a href="#" class="nav-link link-dark">
                    <svg class="bi me-2" width="16" height="16"></svg>
                    School Year
                </a>
            </li>
            <li class="admin-nav-item">
                <a href="#" class="nav-link link-dark">
                    <svg class="bi me-2" width="16" height="16"></svg>
                    Backup
                </a>
            </li>
        </ul>
    </div>
    <div class="admin-container" >
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
